<context id="Market" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://repast.org/scenario/context">
	
	
	

<context id="Firms_Context"><projection type="continuous space" id="Firms_Proyection"></projection></context><context id="Consumers_Context"><projection type="continuous space" id="Consumers_Proyection"></projection></context></context>
